
body{
    background-color: #F5F0DC; 
    font-family: Helvetica, Arial, sans-serif;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#titulo {
    text-align: center;
    text-shadow: 1px 1px 3px #140905;
    font-size: 3em;
}

#menu {
    float: left;
}

#conteudo {
    float: right
}

.foto-instantanea {
    width: 250px;
    height: 250px;
    background-color: #FFF;
    text-align: center;
    padding: 18px;

    font-family: cursive;
    box-shadow: 5px 5px 15px 3px #000000;
    border: 1px SOLID #333;
    border-radius: 8px;
}

.foto-instantanea:hover {
    transform: rotate(-5deg) ;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    background-color: #835203;
    margin-bottom: 4px;
    padding: 4px;
}

nav ul li:hover {
    background-color: #583700;
    font-size: 1.1em;
}

nav ul a {
    color: #FFF;
    text-decoration: none;
}

.subtitulo {
    background-color: #835203;
    background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 24%, rgba(233,212,179,1) 100%);
    background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 24%, rgba(233,212,179,1) 100%);
    background: linear-gradient(left, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 24%, rgba(233,212,179,1) 100%);
    color: #FFF;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 30px;
    padding: .3em;
    padding-left: .9em;;
}


#tb-nutrientes {
    margin-left: auto;
    margin-right: auto;
    border: 1px SOLID #333;
    border-radius: 10px;

    width: 50%;
}

#tb-nutrientes thead {
    background-color: #835203;
    color: #FFF;
    font-weight: 600;
    font-size: 1.20em;
}

#tb-nutrientes th {
    padding: 8px;
}

#tb-nutrientes tbody tr:nth-child(odd) {
    background-color: #f7c881;
}

#tb-nutrientes tbody tr:nth-child(even) {
    background-color: #fff;
}


/*
nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

nav ul li:hover{ 
    background-color:#9C8F67; 
} 

*/


/*
nav {
    float: left;
    width: 200px;
}

nav ul li {
    background-color: #C7BE9B;
    margin-bottom: 3px;
    padding: 3px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

nav ul li:hover{ 
    background-color:#9C8F67; 
} 

#conteudo {
    float: right;
    width: 760;
}

#banner {
    top: 0;
    right: 0;
    position: fixed;
	 transform: translate(25px, 50px) rotate(45deg);
}

h2{
    background-color: #B3A742;
    background:-webkit-linear-gradient(top, #9C8F67, #C7BE9B);
    background:-o-linear-gradient(top, #9C8F67, #C7BE9B);
    background:-ms-linear-gradient(top, #9C8F67, #C7BE9B);
   
    padding: 5px;
    color: #FFFFFF;
    border-radius: 15px;
   
    border: 1px solid black;
}

#tb-nutrientes{
    border: 1px solid black;
    width: 60%;
    margin: auto;
}

#tb-nutrientes th{
    background-color: #F8EA6B;
}


#tb-nutrientes tr:nth-child(odd) {
    background-color: #FFFFFF;
}

#tb-nutrientes tr:nth-child(even){
    background-color: #F8EAB3;
}

figure:hover {
     -moz-transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
	        transform:rotate(-5deg);
  
}

a:hover {
    text-decoration: underline;
}

*/